<div class="carts">

  <div class="image">
    <div style="width: 1534px; height: 600px;"></div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <h1 class="fadeinleft animation-duration-1000 flex">Welcome to Our Gradlink Site!</h1>
  <p class="fadeinleft animation-duration-1000 flex">Connect with friends and Alunmi, share photos, and stay updated on
    the latest trends.</p>
  <img class="logo-image fadeinright animation-duration-1000 flex" src="assets/images/logo.png">

<p-scrollTop></p-scrollTop>
  <div class="content ">
    <div class="card fadeinleft animation-duration-1000 flex">
      <img src="assets/images/gr3.png" alt="Image 1">
      <div class="description">
        <!-- <h2>Card 1 Title</h2> -->
        <p>This is the description Connect with friends and Alunmi.</p>
      </div>
    </div>

    <div class="card fadeinleft animation-duration-1000 flex">
      <img src="assets/images/g2.png" alt="Image 2">
      <div class="description">
        <!-- <h2>Card 2 Title</h2> -->
        <p>This is the description fshare photos, and stay updated on the latest trends.</p>
      </div>
    </div>

    <div class="card fadeinleft animation-duration-1000 flex">
      <img src="assets/images/gr5.jpg" alt="Image 3">
      <div class="description">
        <!-- <h2>Card 3 Title</h2> -->
        <p>This is the description for Card 3.</p>
      </div>
    </div>
  </div>

</div>
